/* RESET RULES –––––––––––––––––––––––––––––––––––––––––––––––––– */
* {
    background: ; 
    width: ;
    height: ;
    box-sizing: border-box;
}

body {
    background-image: url('https://github.com/masumbillah6778/responsive-photo-gallery/raw/main/res/drawable/images/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(0,0,0,0.5);
    background-blend-mode: overlay;
    margin: 0px 0px;
    padding: 0;
    font-family: arial;
    text-align: center;
    box-sizing: border-box;
}

h1 {
    background: red;
    color: yellow;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
  }
          
input {
    display: none;
  }

label {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 1;
}
  
.tag {
    background: green;
    color: white;
    font-size: 20px;
    margin: 20px;
    padding: 10px 30px;
    border-radius: 50px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid red;
  }


.images {
    width: min(1600px, 100%);
    margin: 0 auto;
    columns: 6 200px;
    column-gap: 1em;
  }
  
  img {
    /*max-width: 300px;*/
    width: 100%;
    margin-bottom: 1em;
    display: block;
    filter: grayscale(100%);
    transition: all .4s ease-in-out;
    box-shadow: 0 1px 4px 0 rgba(60, 64, 67, .3);
    border: 2px solid white;
  }

  img:hover {
    transform: scale(1.1);
    filter: grayscale(0);
    border: none;
  }














  .header .lead {
    max-width: 620px;
  }
  
  /** Below CSS is completely optional **/
  
  .gallery-container > a {
    max-width: 200px;
    max-height: 150px;
    padding: 5px;
    disply: inline-block;
  }






















  
  /*filter CSS */
  #masum:checked ~ .images > img:not([class*='masum']),
  #tania:checked ~ .images > img:not([class*='tania']),
  #tanvir:checked ~ .images > img:not([class*='tanvir']),
  #others:checked ~ .images > img:not([class*='others']) {
    width: 0px;
    height: 0px;
  }
    
  #all:checked ~ .all,
  #masum:checked ~ .tag1,
  #tania:checked ~ .tag2,
  #tanvir:checked ~ .tag3,
  #others:checked ~ .tag4 {
    background-color: red;
    color: white;
    border: 2px solid green;
  } 
